<div class="modal-header">
    <h3 class="modal-title">Add new Puppy</h3>
    <div class="modal-body" id="modal-body">
        <form class="form-add" ng-submit="add(post)">
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.kind" type="text" id="inputKind" class="form-control" placeholder="Kind" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="post.gender" ng-value="'male'">Male</label>
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="post.gender" ng-value="'female'">Female</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.price" type="number" id="inputPrice" class="form-control" placeholder="Price" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="radio-inline"><input type="radio" name="papers" ng-model="post.papers" ng-value="true" checked>Yes</label>
                    <label class="radio-inline"><input type="radio" name="papers" ng-model="post.papers" ng-value="false">No</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea ng-model="post.description" class="form-control" rows="5" id="inputDescription" placeholder="Description" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                </div>
            </div>
            <span ng-if="isLoading" us-spinner spinner-theme="small" class="login-register-spinner"></span>
        </form>
    </div>
</div>