.post-card {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    padding: 0 !important;
    height: 350px !important;
}
.post-card:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.card-bg-image {
    width: 100%;
    height: 200px;
    position: relative;
}
.post-card-block {
    padding: 20px 20px;
}
.post-price {
    display: table;
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
}
.post-card:hover .post-price {
    font-size: 17px;
}
.post-price span {
    display: table-cell;
    vertical-align: middle;
}
.post-category {
    display: table;
    padding: 5px;
    background-color: #555;
    color: #ffffff;
    margin-bottom: 10px;
}
.post-category span {
    display: table-cell;
    vertical-align: middle;
}
.pagination-numbers {
    text-align: right;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #555;
    border-color: #555;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #555;
}
.pagination>li>a, .pagination>li>span {
    color: #555;
}