<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" ng-submit="register(credentials)">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <input ng-model="credentials.first_name" type="text" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input ng-model="credentials.last_name" type="text" id="inputLastName" class="form-control" placeholder="Last Name" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input ng-model="credentials.username" type="text" id="inputUsername" class="form-control" placeholder="username" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input ng-model="credentials.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input ng-model="credentials.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <input ng-model="credentials.city" type="text" id="inputCity" class="form-control" placeholder="City" required>
            </div>
            <div class="col-xs-12 col-sm-6">
                <input ng-model="credentials.state" type="text" id="inputState" class="form-control" placeholder="State" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input ng-model="credentials.address" type="text" id="inputAddress" class="form-control" placeholder="Address" required>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input ng-model="credentials.phone" type="text" id="inputPhone" class="form-control" placeholder="Phone">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create account</button>
            </div>
        </div>
    </form>
    <span ng-if="isLoading" us-spinner spinner-theme="small" class="login-register-spinner"></span>
</div>