.list-card {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    padding: 0 !important;
    height: 90px !important;
}
.list-card:hover {
    cursor: pointer;
    -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}
.list-thumbnail {
    height: 90px;
}
.list-card-block {
    padding: 10px 10px;
    height: 90px;
}
.list-category {
    padding: 4px;
    margin-bottom: 5px;
    font-size: 11px;
}
.list-price {
    display: table;
    bottom: 0;
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
}
.list-card:hover .list-price {
    font-size: 17px;
}
.list-item-buttons {
    text-align: center;
    height: 90px;
}
.list-btns-block {
    display: table;
    height: 50%;
    width: 100%;
    padding-right: 10px;
}
.list-btn {
    display: table-cell;
    vertical-align: middle;
}
.list-btn-icon i {
    color: #555;
    font-size: 24px;
}
.list-btn-icon {
    width: 30px;
    float: right;
    text-align: center;
}
.no-padding {
    padding: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-left {
    padding-left: 0 !important;
}