<div class="container-fluid">
    <span ng-if="isLoading" us-spinner spinner-theme="big"></span>
    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4 text-right">
            <button ng-click="openAddModal()" class="btn btn-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" ng-repeat="post in posts">
            <div class="card post-card list-card">
                <div class="row">
                    <div class="col-xs-5 col-sm-3 col-md-2 no-padding-right">
                        <div class="card-bg-image list-thumbnail" ng-style="{'background-image':'url(' + hostUrl + post.images[0].path + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                            <div class="post-price">
                                <span>{{post.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-8 col-md-9 no-padding">
                        <div class="card-block list-card-block">
                            <div class="post-category list-category">
                                <span>{{post.kind}}</span>
                            </div>
                            <p class="card-text hidden-xs">{{post.description | limitTo: 80}}{{post.description.length > 80 ? '...' : ''}}</p>
                            <p class="card-text visible-xs">{{post.description | limitTo: 20}}{{post.description.length > 20 ? '...' : ''}}</p>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1 no-padding-left list-item-buttons">
                        <div class="list-btns-block">
                            <div class="list-btn">
                                <div class="list-btn-icon" ng-click="openEditModal(post)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="list-btns-block">
                            <div class="list-btn">
                                <div class="list-btn-icon" ng-click="delete(post.id)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pagination-numbers" ng-if="posts != null">
        <div class="col-xs-12">
            <ul uib-pagination max-size="2" items-per-page="perPage" total-items="totalItems" ng-model="currentPage" ng-change="paginate(currentPage)" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>