<div class="container-fluid">
    <span ng-if="isLoading" us-spinner spinner-theme="big"></span>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="post in posts">
            <div class="card post-card lost-dog-card">
                <div class="card-bg-image" ng-style="{'background-image':'url(' + hostUrl + post.images[0].path +')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">
                    <div class="post-price">
                        <span>{{post.kind}}</span>
                    </div>
                </div>
                <div class="card-block post-card-block">
                    <div class="post-category">
                        <span>{{post.name}}</span>
                    </div>
                    <p class="card-title">{{post.location}}</p>
                    <p class="card-text">{{post.description | limitTo: 80}}{{post.description.length > 80 ? '...' : ''}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pagination-numbers" ng-if="posts != null">
        <div class="col-xs-12">
            <ul uib-pagination max-size="2" items-per-page="perPage" total-items="totalItems" ng-model="currentPage" ng-change="paginate(currentPage)" boundary-link-numbers="true" rotate="false"></ul>
        </div>
    </div>
</div>