<div class="modal-header">
    <h3 class="modal-title">Add new lost dog</h3>
    <div class="modal-body" id="modal-body">
        <form class="form-add" ng-submit="add(post)">
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.name" type="text" id="inputName" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.kind" type="text" id="inputKind" class="form-control" placeholder="Kind" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="post.gender" ng-value="'male'">Male</label>
                    <label class="radio-inline"><input type="radio" name="gender" ng-model="post.gender" ng-value="'female'">Female</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.location" type="text" id="inputLocation" class="form-control" placeholder="Location" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <input ng-model="post.phone" type="string" id="inputPhone" class="form-control" placeholder="Phone" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea ng-model="post.description" class="form-control" rows="5" id="inputDescription" placeholder="Description" required></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                </div>
            </div>
            <span ng-if="isLoading" us-spinner spinner-theme="small" class="login-register-spinner"></span>
        </form>
    </div>
</div>