<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="menu.home">PuppyBook</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="menu.home">Find a puppy</a></li>
                <li ui-sref-active="active"><a ui-sref="menu.lost-dogs">Lost friends</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!isLoggedIn" ui-sref-active="active"><a ui-sref="menu.login">Login</a></li>
                <li ng-if="!isLoggedIn" ui-sref-active="active"><a ui-sref="menu.register">SignUp</a></li>
                <li ng-if="isLoggedIn" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="profile-image" ng-style="{'background-image':'url(' + hostUrl + user.image.path +')', 'background-repeat': 'no-repeat', 'background-size': 'cover', 'background-position': 'center'}">

                    </div>
                </li>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active"><a ui-sref="menu.profile">Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="menu.my-puppies">My puppies</a></li>
                    <li ui-sref-active="active"><a ui-sref="menu.my-lost-friends">My lost friends</a></li>
                    <li class="divider"></li>
                    <li class="logout-menu-item" data-toggle="dropdown"><a ng-click="logout()">Logout</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <ui-view name="menuContent"></ui-view>
</div>